<header>
    <div class="logo">
        <picture>
            <img src="images/todo.png" alt="Logo Todo">
        </picture>
    </div>
    <h1>Neues ToDo hinzufügen</h1>
</header>

<main>
<article id="{{_id}}" class="">
    <form action="{{_id}}" method="post">
        <label for="title">Title</label>
        <input name="title" type="test" value="{{title}}"/>

        <label for="description">Beschreibung</label>
        <textarea name="description">{{description}}</textarea>

        <label for="importance">Wichtigkeit</label>
        <input name="importance" type="number" min="1" max="5" value="{{importance}}"/>

        <label for="duedate">Fertig bis</label>
        <input name="duedate" type="date" value="{{duedate}}"/>

        <label for="finished" {{finished}}>Fertig bis</label>

        <input name="createdate" type="hidden" value="{{createdate}}"/>

        <input name="finished" type="checkbox" {{#if finished}}checked{{/if}} />

        <div id="submitbuttons">
            <button type="submit" class="btn-green">Save</button>
            <button type="submit" class="btn-red">Cancel</button>
        </div>

    </form>
</article>
</main>