<header>
    <div class="logo">
        <picture>
            <img src="../images/todo.png" alt="Logo Todo">
        </picture>
    </div>
    <div>
        <h1>Edit ToDo</h1>
    </div>
</header>

<main>
    <article id="{{note._id}}" class="">
        <form action="{{note._id}}" method="post">
            <label for="title">Title</label>
            <input name="title" type="test" value="{{note.title}}"/>

            <label for="description">Description</label>
            <textarea name="description">{{note.description}}</textarea>

            <label for="importance">Importance (1 to 5)</label>
            <input type="range" name="importance" min="1" max="5" value="{{note.importance}}" required/>

            <label for="duedate">Due to</label>
            <input name="duedate" type="date" value="{{note.duedate}}"/>


            <input name="createdate" type="hidden" value="{{note.createdate}}"/>

            <label for="finished">Finished</label>
            <input name="finished" type="checkbox" {{#if note.finished}}checked{{/if}} />

            <div id="buttons">
                <button type="submit" class="btn-color-edit-actions">Save</button>
                <a href="/" class="button btn-color-cancel">Cancel</a>
            </div>

        </form>
    </article>
</main>