<!-- TODO: besprechung -->

<header>
    <h1>Notes</h1>
</header>
<main>
    <div class="top">
        <button type="button" class="left">
            Create new Note
        </button>
        <button type="button" class="right">
            Change Style
        </button>
    </div>

    <div class="filter">
        <button type="button" class="left">
            By finish Date
        </button>
        <button type="button" class="left">
            By created Date
        </button>
        <button type="button" class="left">
            By Importance
        </button>
        <button type="button" class="right">
            Show finished
        </button>
    </div>

    <div class="notes">
        <!-- TODO: inhalt checkboxen handlebars, textfeld, -->
        <input type="checkbox" {{bindAttr checked="isChecked"}}>
        {{#each notes}}
            <article>
                <div class="status">
                    <p>{{duedate}}</p>
                    <input type="checkbox" {{# if finished}}checked{{/if}}/>
                </div>
                <div class="output">
                    <h3>{{title}}</h3>
                    <textarea readonly>{{description}}</textarea>
                </div>
                <div class="actions">
                    <form method="get" action="notes/edit/{{_id}}">
                        <button type="submit">Edit</button>
                    </form>
                </div>
            </article>
        {{/each}}

    </div>
</main>



