<header>
    <div class="logo">
        <picture>
            <img src="../images/todo.png" alt="Logo Todo">
        </picture>
    </div>
    <div class="headertitle">
        <h1>Note Pro - HSRMarket v4</h1>
    </div>

</header>
<main>
    <div id="line-navigation-style">
        <form action="/new" method="get">
            <button type="submit" class="btn-color-edit-actions">Create new note</button>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="style" value="{{style}}"/>
            <button type="submit" class="btn-color-edit-actions">Change style</button>
        </form>
    </div>

    <div id="line-sort-and-filter">
        <div id="sort-actions">
            <form action="/" method="get">
                <input type="hidden" name="orderBy" value="duedate"/>
                <button type="submit" class="btn-color-sort-filter">By finish date</button>
            </form>
            <form action="/" method="get">
                <input type="hidden" name="orderBy" value="createdate"/>
                <button type="submit" class="btn-color-sort-filter">By create date</button>
            </form>
            <form action="/" method="get">
                <input type="hidden" name="orderBy" value="importance"/>
                <button type="submit" class="btn-color-sort-filter">By Importance</button>
            </form>
        </div>
        <div id="filter-actions">
            <form action="/" method="get">
                {{#if filter}}
                    <input type="hidden" name="filter" value="false"/>
                    <button type="submit" class="btn-color-sort-filter">Show all</button>
                {{else}}
                    <input type="hidden" name="filter" value="true"/>
                    <button type="submit" class="btn-color-sort-filter">Hide finished</button>
                {{/if}}
            </form>
        </div>
    </div>

    <section class="notes">
        {{#each notes}}
            <article>
                <header>
                    <div class="notes-duedate">
                        <time class="bold" datetime="{{duedate}}">{{duedate}}</time>
                    </div>
                    <div class="notes-importance">
                        <p class="bold nobreak">Importance:</p><span>
                        {{#times importance}}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {{/times}}
                        </span>
                    </div>
                </header>
                <div class="notes-status">
                    <span class="bold">Finished</span>
                    <input type="checkbox" disabled="disabled" {{# if finished}}checked{{/if}}/>
                </div>
                <div class="notes-output">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                </div>
                <div class="notes-actions">
                    <form method="get" action="edit/{{_id}}">
                        <button type="submit" class="btn-color-edit-actions">Edit</button>
                    </form>
                </div>
            </article>

        {{else}}
            <h3>In der aktuellen Ansicht sind keine Einträge vorhanden. Um Einträge anzuzeigen, passen Sie die Filter an oder erstellen neue Notes in der App.</h3>
        {{/each}}

    </section>
</main>



