<!-- TODO: besprechung -->

<header>
    <div class="logo">
        <picture>
            <img src="images/todo.png" alt="Logo Todo">
        </picture>
    </div>
    <h1>Note Pro</h1>
</header>
<main>
    <div id="navigationstlye">
        <form action="/notes/new" method="get">
            <input class="btn-green" type="submit" value="Create new note"/>
        </form>
        <div id="spacerheader"></div>
        <form action="/" method="get">
            <input type="hidden" name="style" value="black"/>
            <input class="btn-green" type="submit" value="Change style"/>
        </form>
    </div>

    <div id="sortandfilter">
        <div id="sort">
            <form action="/" method="get">
                <input type="hidden" name="orderBy" value="duedate"/>
                <input class="btn-blue" type="submit" value="By finish date"/>
            </form>
            <form action="/" method="get">
                <input type="hidden" name="orderBy" value="createdate"/>
                <input class="btn-blue" type="submit" value="By create date"/>
            </form>
            <form action="/" method="get">
                <input type="hidden" name="orderBy" value="importance"/>
                <input class="btn-blue" type="submit" value="By Importance"/>
            </form>
        </div>
        <div id="filter">
            <form action="/" method="get">
                <input type="hidden" name="filter" value="true"/>
                <input class="btn-blue" type="submit" value="Show finished"/>
            </form>
        </div>
    </div>

    <section class="notes">
        <!-- TODO: inhalt checkboxen handlebars, textfeld, -->
        {{#each notes}}
            <article>
                <div class="status">
                    <p>{{duedate}}</p>
                    <input type="checkbox" {{# if finished}}checked{{/if}}/>
                </div>
                <div class="output">
                    <h3>{{title}}</h3>
                    <textarea readonly>{{description}}</textarea>
                </div>
                <div class="actions">
                    <form method="get" action="notes/edit/{{_id}}">
                        <input class="btn-green" type="submit" value="Edit"/>
                    </form>
                </div>
            </article>

        {{else}}
            <h3>Leere Liste. Es sind keine Einträge vorhanden.</h3>
        {{/each}}

    </section>
</main>



