<!-- TODO: besprechung -->

<header>
    <h1>Notes Master</h1>
</header>
<main>
    <div id="navigationstlye">
        <form action="/notes/new" class="green" method="get">
            <input class="btn-green" type="submit" value="Create new note"/>
        </form>
        <div id="spacerheader"></div>
        <form action="/" method="get">
            <input type="hidden" name="style" value="black"/>
            <input class="btn-green" type="submit" value="Change style"/>
        </form>
    </div>

    <div id="sortandfilter">
        <form action="/" method="get">
            <input type="hidden" name="orderBy" value="duedate"/>
            <input class="btn-green" type="submit" value="By finish date"/>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="orderBy" value="createdate"/>
            <input class="btn-green" type="submit" value="By create date"/>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="orderBy" value="importance"/>
            <input class="btn-green" type="submit" value="By Importance"/>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="filter" value="true"/>
            <input class="btn-green" type="submit" value="Show finished"/>
        </form>
    </div>

    <section class="notes">
        <!-- TODO: inhalt checkboxen handlebars, textfeld, -->
        {{#each notes}}
            <article>
                <div class="status">
                    <p>{{duedate}}</p>
                    <input type="checkbox" {{# if finished}}checked{{/if}}/>
                </div>
                <div class="output">
                    <h3>{{title}}</h3>
                    <textarea readonly>{{description}}</textarea>
                </div>
                <div class="actions">
                    <form method="get" action="notes/edit/{{_id}}">
                        <button class="btn-green" type="submit">Edit</button>
                    </form>
                </div>
                <p>{{createdate}} {{finished}}</p>
            </article>
        {{/each}}

    </section>
</main>



